/*
grid references: -https://www.youtube.com/watch?v=9zBsdzdE4sM
                 -https://learncssgrid.com/#aligning-grid-items

1) please see the .products-grid class - this is your main practice class for creating a grid
   - lines 268
   - it contains commented rules explaining functionality
*/

/*-- variables --*/
:root {
    --black: #000000;
    --dark-blue: #1e3a51;
    --orange: #FF601D;
    --white: #ffffff;
    --red: #e3343a;
    --gray: #f1f1f1;
    --dark-gray: #636363;
}

/* -- reset --*/
html * {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
}

picture,
figure,
img {
    display: block;
}

a, p, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0;
    text-decoration: none;
}

/*-- boostrap container override --*/
.container {
    max-width: 1223px;
}

/*-- header --*/
header {
    margin: 0 auto;
    max-width: 1199px;
    width: 100%;
}

.nav-a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 14px 10px 0;
}

.nav-a .logo {
    display: flex;
    order: 1;
}

.nav-a .logo a {
    display: block;
    width: 72px;
}

.nav-a .logo .logo__trigger {
    height: 30px;
    margin-right: 10px;
    width: 30px;
}

.nav-a .logo .logo__trigger::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
}

.nav-a .logo a img {
    width: 100%;
}

.nav-a form {
    background-color: var(--orange);
    display: flex;
    margin-left: -10px;
    padding: 5px 0 5px 10px;
    order: 3;
    margin-top: 4px;
    min-width: calc(100% + 20px);
}

.nav-a form input[type="search"] {
    border: 0;
    flex-basis: 88.236%;
    padding: 11.5px 10px;
}

.nav-a form input[type="search"]:focus {
    outline: none;
}

.nav-a form button[type="submit"] {
    border: 0;
    background: none;
    flex-basis: 14.63%;
}

.nav-a form button[type="submit"]::before {
    content: "\f002";
    color: var(--white);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 15px;
}

.nav-a__links {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    order: 2;
}


.nav-a__links button {
    background: none;
    border: 0;
    padding: 0;
}

.nav-a__links button::before {
    align-items: flex-start;
    background: none;
    border: 0;
    color: var(--orange);
    content: "\f002";
    display: flex;
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
    height: 27px;
    justify-content: center;
    padding: 1.5px 0;
    width: 27px;
    text-align: center;
}

.nav-a__links a {
    color: var(--dark-blue);
    font-size: 13px;
    position: relative;
}

.nav-a__links a div {
    display: none;
}

.nav-a__links a:hover {
    color: var(--orange);
}

.nav-a__links a::before {
    align-items: flex-start;
    font-family: "Font Awesome 6 Free";
    display: flex;
    height: 27px;
    justify-content: center;
    width: 27px;
    text-align: center;
    font-size: 20px;
    padding: 1.5px 0;
}

.nav-a__links a:not(:nth-child(2))::after {
    align-items: center;
    background-color: var(--orange);
    border-radius: 2px;
    color: #ffffff;
    display: flex;
    content: '0';
    font-family: sans-serif;
    font-size: 10px;
    height: 15px;
    left: 20px;
    justify-content: center;
    position: absolute;
    top: -4px;
    width: 14px;
}

.nav-a__links a:nth-child(2)::before {
    font-weight: 900;
    content: "\f007";
}

.nav-a__links a:nth-child(3)::before {
    font-weight: 900;
    content: "\f004";
}

.nav-a__links a:nth-child(4)::before {
    font-weight: 900;
    content: "\f07a";
}

.nav-b {
    display: none;
}

h1 {
    border-bottom: 1px solid #e9e9ea;
    font-size: 15px;
    padding: 11px 15px 12px;
}

/* -- content wrapper --*/
.page-content {
    margin: 0 auto;
    max-width: 1199px;
    width: 100%;
}

aside {
    display: none;
}

main {
    background-color: var(--gray);
    padding: 10px;
}

.sort-bar {
    margin-bottom: 5px;
}

.sort-bar p {
    color: var(--black);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sort-bar__buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sort-bar__buttons select {
    padding: 16px 30px 16px 16px;
    background: url('images/caret-icon-21.jpg') 98% center/30px no-repeat #fff;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #dedede;
    text-align: center;
    font-size: 13px;
    display: block;
}

.sort-bar__buttons select:focus {
    outline: none;
}

/* -- products grid --*/
.products-grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, 48.8235294118%);

    grid-row-gap: 5px; /*-- space between row --*/

    justify-content: space-between;

    margin-bottom: 20px;

    /*grid-template-columns: repeat(auto-fit, minmax(200px, 300px));*/

    /* -- implicit(automatic) row height --*/
    /*grid-auto-rows: 150px;*/

    /* -- minmax - css function (command) specifying the min and max values in the above case for row height --*/
    /*grid-auto-rows: minmax(150px, auto);*/
    /*grid-auto-rows: minmax(200px, 1fr);*/

    /* -- explicit row height --*/
    /*grid-auto-rows: 200px 150px;*/

    /*--* create layout areas defined through strings* --*/
    /*grid-template-areas:
    'header header';
    'sidebar content'
    'sidebar content'
    */
}

/*example for grid area*/

/*
-------
take not of start and end - can be use instead of template areas - please not that the number point
to the lines between columns.
------
*/

/* grid-row-start 1 / -1;  shorthand for the above /-1 means that will span the entire row*/

/*
.grid-item-1 {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start 1 / -1;
    grid-row: span;
}
.grid-item-2 {
    grid-area: header;
}

.grid-item-3 {
    grid-area: header;
}
*/


/* -- grid item --*/
.products-grid__card {
    color: #000;
    min-height: 373px;
    border: 1px solid #f1efef;
    padding: 5px 10px 0;
    background: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
}

.products-grid__card-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.products-grid__card-top-bar i {
    background: url("images/heart.svg") center/cover no-repeat;
    display: block;
    height: 22px;
    width: 22px;
}

.products-grid__card-top-bar span {
    background: var(--red);
    color: var(--white);
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    padding: 5px;
}

.products-grid__card picture {
    display: block;
    height: 150px;
    margin-bottom: 10px;
}

.products-grid__card picture img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.products-grid__card-price {
    text-align: center;
    margin-bottom: 10px;
}

.products-grid__card-price--discount {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-grid__card-price span:nth-child(1), .discount {
    color: #ff601d;
    font-weight: 600;
    font-size: 23px;
    margin-right: 5px;
}

.products-grid__card-price span:nth-child(1).discounted,
.products-grid__card-price span:nth-child(1) + span {
    color: #000;
    font-size: 16px;
}

.products-grid__card-price span:nth-child(2) {
    font-size: 23px;
    line-height: 1;
}

.products-grid__card-price span:nth-child(3) {
    font-size: 18px;
    line-height: 1;
    flex-basis: 100%;
}

.discounted {
    text-decoration: line-through;
}

.products-grid__card p {
    font-size: 13px;
    line-height: 1.2;
    margin: 0 0 10px;
    text-align: center;
}

.products-grid__card button {
    align-items: center;
    border: 0;
    background: var(--orange);
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 13px;
    justify-content: center;
    margin: auto 0 10px;
    padding: 11.5px;
    width: 100%;
}

.products-grid__card button::before {
    background: url("images/cart-icon.png") center/cover no-repeat;
    content: "";
    display: block;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}

.products-grid__card button::after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: 0;
}

.products-grid__card-stock-text {
    color: #449d44;
    font-size: 12px;
}

p.products-grid__card-footer {
    border-top: 1px solid #f1efef;
    font-size: 11px;
    margin: 0 -10px;
    padding: 16px;
}

.products-grid__card-footer span {
    color: rgb(255, 96, 29);
    text-decoration: none;
}

.products-grid__banner {
    grid-column: 1/-1;
}

.products-grid__banner img {
    display: block;
    width: 100%;
}

.pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35px) ;
    grid-auto-rows: 33px;
    grid-gap: 6px;
    justify-content: center;
}

.pagination a {
    border: 1px solid #d6d6d6;
    color: #5d5d5d;
    align-items: center;
    display: flex;
    font-size: 13px;
    justify-content: center;
}

.pagination a.active {
    background-color: var(--orange);
    color: var(--white);
}

.pagination a:last-child {
    color: var(--orange);
}

.edit-table {
    max-height: 600px;
    overflow: auto;
}

.edit-table table {
    vertical-align: middle;
    table-layout: fixed;

    min-width: 600px;
}

.edit-table table td:last-child a:first-child {
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    /*-- header --*/
    header {
        padding: 10px 0 5px;
    }

    .nav-a {
        align-items: center;
        flex-wrap: nowrap;
        padding: 0;
    }

    .nav-a .logo {
        flex-basis: 13.2610508757%;
        order: unset;
    }

    .nav-a .logo .logo__trigger {
        display: none;
    }

    .nav-a .logo a {
        width: unset;
    }

    .nav-a form {
        background-color: unset;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        display: grid;
        flex-basis: 45.5379482902%;
        grid-template-columns: 91.177% 9.192%;
        margin: 0 0 0 8%;
        min-width: unset;
        padding: 0;
        order: unset;
    }

    .nav-a form input[type="search"] {
        padding: 13px 20px;
    }

    .nav-a form button[type="submit"]::before {
        color: var(--orange);
    }

    .nav-a__links {
        flex-basis: 28.6071726439%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: unset;
        margin-left: 4%;
        order: unset;
    }

    .nav-a__links button:first-child {
        display: none;
    }

    .nav-a__links a {
        display: flex;
        line-height: 1.3;
        padding: 9px 10px;
    }

    .nav-a__links a:not(:nth-child(2))::after {
        left: 25px;
        top: 10px;
    }

    .nav-a__links a div {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .nav-b {
        display: grid;
        grid-template-columns: 20.7673060884% 1fr;
        padding: 12px 0 7px;
    }

    .nav-b__trigger {
        align-items: center;
        display: flex;
        font-size: 14px;
    }

    .nav-b__trigger::before {
        content: "\f0c9";
        color: var(--orange);
        display: block;
        font-size: 17px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        height: 17px;
        margin-right: 15px;
        width: 17px;
    }

    .nav-b__links {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: end;
    }

    .nav-b__links a {
        align-items: center;
        color: var(--dark-blue);
        display: flex;
        font-size: 13px;
        margin-right: 10px;
        padding: 10px 15px;
    }

    .nav-b__links a:nth-child(5) {
        margin-right: 0;
    }

    .nav-b__links a:hover {
        color: var(--orange);
    }

    .nav-b__links a::before {
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        font-size: 14px;
        margin-right: 10px;
        height: 14px;
        width: 14px;
    }

    .nav-b__links a:first-child::before {
        content: '\f0f3';
    }

    .nav-b__links a:nth-child(2)::before {
        content: '\f0e0';
    }

    .nav-b__links a:nth-child(3)::before {
        content: '\e4bb';
    }

    .nav-b__links a:nth-child(4)::before {
        content: '\f7d9';
    }

    .nav-b__links a:nth-child(5)::before {
        content: '\f0e0';
    }

    h1 {
        border: 1px solid #e9e9ea;
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /*-- content wrapper --*/
    .page-content {
        display: grid;
        grid-template-columns: 19.9332777314% 79.8999165972%;
        justify-content: space-between;
    }

    /* -- aside --*/
    aside {
        background-color: var(--white);
        /*border: 1px solid red;*/
        display: block;
    }

    .aside-list {
        margin: 15px 0 0;
        padding: 0;
        list-style: none;
    }

    .aside-list__title {
        border-bottom: 1px solid var(--orange);
        font-family: sans-serif;
        font-size: 15px;
        margin-bottom: 6px;
        padding-bottom: 3px;
    }

    .aside-list__option {
        color: var(--dark-gray);
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 6px;
    }

    .aside-list__option-checkbox {
        cursor: pointer;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
        font-family: system-ui, sans-serif;
        line-height: 1.1;
    }

    /*-- check-box --*/
    .aside-list__option-checkbox input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        border-radius: 0.15em;
        border: 1px solid #dadada;
        color: currentColor;
        cursor: pointer;
        display: grid;
        font: inherit;
        margin: 0;
        width: 14px;
        height: 14px;
        place-content: center;
        transform: translateY(-0.075em);
    }

    .aside-list__option-checkbox input[type="checkbox"]:hover {
        background-color: var(--orange);
    }

    .aside-list__option-checkbox input[type="checkbox"]::before {
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        transform-origin: bottom left;
        box-shadow: inset 1em 1em var(--white)
    }

    .aside-list__option-checkbox input[type="checkbox"]:checked {
        background-color: var(--orange);
    }

    .aside-list__option-checkbox input[type="checkbox"]:checked::before {
        background-color: var(--orange);
        transform: scale(1);
    }

    .aside-list__button a {
        padding: 10px 12px;
        background-color: #f3f3f3;
        color: #5e5e5e;
        display: block;
        font-size: 13px;
        text-align: center;
        margin: 0 auto;
        max-width: 191px;
    }

    /*-- main content --*/
    main {
        background: var(--white);
    }

    .sort-bar {
        margin-bottom: 15px;
    }

    .sort-bar p {
        margin-bottom: 5px;
        max-width: 280px;
        margin-left: auto;
    }

    .sort-bar__buttons {
        grid-template-columns: 280px;
        justify-content: end;
    }

    .sort-bar__buttons select {
        padding: 11.5px;
    }

    .sort-bar__buttons select:nth-child(2) {
        display: none;
    }

    /* -- products grid --*/
    .products-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 23.4541577825%);
    }
}


/* product page */

.page-content-product img {
    width: 100%;
}

.fs-2 span,
.fs-3 span {
    color: var(--orange);
}
